.adtocart{
    text-decoration: none;
    margin: 10px 0 10px 0;
    color: aliceblue;
    width:180px;
    border: 3px rgb(40, 204, 76) solid;
    border-radius: 1vh;

}

.adtocart:hover{
    background: linear-gradient(45deg,#95e23e,rgb(57, 223, 93));
    font-weight: 500;
    color:black;
    box-shadow: #14a314;
}

#card{
    background: linear-gradient(90deg,rgb(76, 115, 199),rgb(65, 221, 226));
    border: solid 5px gold;
    border-radius:30px;
    min-height:270px;
    width:250px;
    position:relative;
    box-shadow: 6px 6px 20px rgb(65, 221, 226), -6px 6px 20px rgb(76, 115, 199);
    text-align:center;
}

#cards{
    --num-cols: 4;
    /* box-sizing: border-box; */
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    gap: 35px;
    justify-items: center;
    padding: 35px 0 20px;
    margin-top: 45px;
    align-items: center;
    min-height: 100vh;
}
#numcart {
    background-color: red;
    color: white;
    border-radius: 50%;
    height: 25%;
    margin: 1vh 0 0 1vw;
    min-width: 2vw;
    text-align: center;
    padding: 0 0.5vw;
}

.navbar{
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
}

#cart-icon{
    align-items: center;
}

#card .flex-button {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 5px 0;
}
#card .flex-button a {
    color: rgb(255, 255, 255);
    font-weight: 900;
    font-size: larger;
    min-width: 38px;
    min-height: 38px;
    background-color: #000;
    text-decoration: none;
    border-radius: 10px;
}
#card .flex-button .remove {
    background-color: rgb(226, 0, 0);

}

#card .info {
    background-color: gold;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    
}
/* @media screen and (max-width: 1024px) and (min-width: 540px){
    #cards{
        --num-cols: 3;
    }
}

@media screen and (max-width: 540px) {
    #cards{
        --num-cols: 2;
    }
} */